.about {

  &__intro {
    margin-bottom: 17.9rem;

    @include breakpoint(desktop) {
      display: grid;
      grid-auto-rows: minmax(100px, auto);
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 6.2rem;
    }
    
    &-title {
      margin-bottom: 4.9rem;
    }

    &-content {
      margin-top: 9.9rem;
      margin-bottom: 9.7rem;

      @include breakpoint(desktop) {
        grid-row: 1;
        grid-column: 2;
        margin-top: 17.75rem;
        margin-bottom: 1.5rem;
        width: 38.3rem;
      }
    }

    &-card {
      position: relative;
      height: 33.3rem;
      background-size: cover;

      @include breakpoint(desktop) {
        height: 54.4rem;
      }

      &__text {
        background: $white;
        width: 73%;
        padding: 3rem 2.5rem 3rem 2.8rem;
        position: absolute;
        bottom: -2px;

        @include breakpoint(desktop) {
          padding: 3.4rem 5.3%;

        }

        &-title {
          font-size: 1.6rem;
          line-height: 1.4;

          @include breakpoint(desktop) {
            margin-bottom: 1.8rem;
            font-size: 2rem
          }
        }

        &-content {
          font-size: 0;

          @include breakpoint(desktop) {
            color: $warm-gray-two;
            line-height: 1.5;
            font-size: 1.6rem;
          }
        }
      }

      &--left {
        background-image: url("~static/images/intro-card-img1.jpg");

        &__text {
          left: -1px;
        }
      }

      &--right {
        background-image: url('~static/images/intro-card-img2.jpg');

        &__text {
          right: -1px;
        }

        @include breakpoint(desktop) {
          margin-top: 7.2rem;
        }
      }
    }
  }
}