.brands {

  margin-bottom: 8.9rem;

  @include breakpoint(desktop) {
    margin-bottom: 14.3rem;
  }

  &-title {
    margin-bottom: 2.9rem;

    @include breakpoint(desktop) {
      margin-bottom: 5rem;
    }
  }

  &__cards {
    display: grid;
    grid-auto-rows: minmax(100px, auto);

    @include breakpoint(desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card-text {
    margin: 0 auto 4.8rem;
    grid-row: 1;

    @include breakpoint(desktop) {
      margin: auto;
      grid-row: auto;
    }

    &-content {
      @include fontSizeVw(20, 27);
      width: 29.6rem;
      line-height: 1.5;
      display: flex;
      justify-content: center;

      @include breakpoint(desktop) {
        width: 30rem;
        line-height: 1.63;
      }
    }
  }
}
