.contact {
  margin-bottom: 12.1rem;
  background-image: url("~static/images/contact-background.png");
  background-position: center;

  @include breakpoint(desktop) {
    background-size: contain;
    background-position-y: -3.9rem;
    height: 55rem;
    margin-bottom: 0rem;
  }

  &-title {
    margin-bottom: 6.4rem;

    @include breakpoint(desktop) {
      margin-bottom: 4.9rem;
    }
  }
}
