.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  color: $pinkish-gray;
  margin-bottom: 6.1rem;

  @include breakpoint(desktop) {
    flex-direction: row-reverse;
    margin-bottom: 5rem;
    align-items: center;
  }

  &-copyright {
    font-size: 1.2rem;
  }
}
