.about__jumbotron {
  // padding-left: 6.8rem;
  padding: 8.6rem 7.2rem 8.6rem 6.8rem;
  background: gainsboro;
  margin-bottom: 16.7rem;


  &-title {
    margin-bottom: 4.9rem;
    margin-left: -4rem;
  }
}
