.about__jumbotron {
  margin-bottom: 17.9rem;

  @include breakpoint(desktop) {
    margin-bottom: 23.3rem;
  }

  &-title {
    margin-bottom: 2rem;

    @include breakpoint(desktop) {
      margin-bottom: 4.9rem;
    }
  }

  &-content {
    padding-left: 3.42rem;
    padding-right: 2.2rem;

    @include breakpoint(desktop) {
      padding-left: 6.4rem;
      padding-right: 7.7rem;
    }
  }
}
