.about__jumbotron {
  padding: 4rem 0;
  margin-bottom: 18rem;

  @include breakpoint(desktop) {
    margin-bottom: 16.7rem;
    padding: 0;
  }

  &-title {
    margin-bottom: 2rem;

    @include breakpoint(desktop) {
      margin-bottom: 4.9rem;
    }
  }

  &-content {
    padding: 0 3rem;

    @include breakpoint(desktop) {
      padding: 0 8rem 0 4rem;
    }
  }

}
