.arcade {
  position: absolute;
  top: -1rem;
  background-image: url("~assets/images/arcade/arcade-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 137.4rem;
  height: 165.1rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 3;

  // Controls wrapper
  &__controls {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    // Stick controls!
    &-stick {
      position: absolute;
      top: 79.4rem;
      left: 50rem;
      width: 6.5rem;
      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;
      &.move-left {
        left: 48.8rem;
        transform: rotate(-20deg);
      }
      &.move-right {
        left: 51.2rem;
        transform: rotate(20deg);
      }
      // Position of base of stick
      &--base {
        top: 80rem;
      }
    }

    // button controls
    &-button {
      position: absolute;
      top: 87.5rem;
      left: 63rem;
      width: 6.5rem;

      &-fire {
        top: 88.1rem;
        fill: red;
      }

      &-bg.pressed {
        animation: pressed 0.2s;
      }

      &--neutral {
        top: 88rem;
        left: 70rem;
      }
    }
  }
}
@keyframes pressed {
  0%,100% {
    opacity: 0.2;
  }
}
