.jobs__list__offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.3rem 0;
  }

  .jobs__list--underlay:nth-child(odd) {
    background: $gray;
  }

  .col--left {
    span {
      font-size: 1.2rem;
      color: $rouge;
    }
  }
  
  .col--right {
    padding: 1.4rem 4.3rem;
    background-color: white;
    color: red;
  }
