.jobs__list__offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0rem;
  padding: 3.3rem 0 4rem;
  text-align: center;
  
  @include breakpoint(desktop) {
    flex-direction: row;
    padding: 3.3rem 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.jobs__list--underlay:nth-child(odd) {
  border-bottom: dashed 1px #c7c7c7;
  border-top: dashed 1px #c7c7c7;
}


.col--left {
  @include breakpoint(phone) {
    margin-bottom: 3.2rem;
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $black;
    margin-bottom: 0.4rem;
  }

  &-hash {
    font-size: 1.2rem;
    color: $warm-gray-two;
   }
}

.col--right {
  border: none;
  padding: 1.4rem 4.3rem;
  background-color: $gray;
  color: $rouge;
  font-size: 1.4rem;
  font-weight: 600;
}
