// loading text that shows load bar, doesnt dissappear just gets ran over by z-index of game
.c-loading-text {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-family: "Geomanist";
    z-index: 2;
    font-size: 16px;
    color: #db345f;
    opacity: 0;
    display: none;
    &.game-started {
      opacity: 1;
      display: block;
    }
    &.loaded {
      display: none;
    }
  }