html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  overflow-y: hidden;
  line-height: 1;
  background: $white;
  color: $dark;
  transition: all 0.2s linear;
  margin: 0 auto;
}

// #__layout {
//   max-width: 100%;

//   @include breakpoint(desktop) {
//     max-width: 1440px;
//     margin: 0 auto;
//   }
// }

.container {
  margin: 0 auto;
  width: 34.4rem;

  @include breakpoint(desktop) {
    width: 124.8rem;
    max-width: 1248px;
  }
}

a img {
  border: none;
  outline: none;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
