html,
body {
  overflow-x: hidden;
}

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  overflow-y: hidden;
  background: $white;
  color: $dark;
  transition: all 0.2s linear;
  margin: 0 auto;
}

#__layout {
  max-width: 100%;

  @include breakpoint(desktop) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.container {
  margin: 0 auto;
  width: 33.5rem;

  @include breakpoint(desktop) {
    width: 114rem;
  }
  @media screen and(min-width:1441px) {
    max-width: 1140px;;
  }
}

a img {
  border: none;
  outline: none;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
