html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  overflow-y: hidden;
  line-height: 1;
  background: $white;
  color: $dark;
  transition: all 0.2s linear;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 34.4rem;

  @include breakpoint(desktop) {
    width: 124.8rem;
    max-width: 1248px;

    &.footer__container {
      width: 112rem;
      z-index: 3;
    }
  }
}

.l-container--grid {
  pointer-events: none;

  @include breakpoint(desktop) {

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    &__item {
      border-left: 1px solid rgba($color: #000000, $alpha: 0.1);

      &.last {
        border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
      }
    }
  }

  .l-padded--left {
    @include breakpoint(desktop) {
      padding-left: 5.4rem;
    }
  }
}

// Helper Classes

.text--center {
  text-align: center;
}

a img {
  border: none;
  outline: none;
  width: 100%;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
