.news-de-la {
  @include marginTop(38,115,240);
  position: relative;
}

.fan-de-vu {
  @include marginBottom(104,120,240);
}

.vu-astuces {

  @include breakpoint(desktopOnly) {
    padding-left: 17.5rem;
  }
  
}

.line-break {
  @include marginTop(50,32,60);
  @include marginBottom(76,39,100);
  opacity: 0.3;
}

.faq {
  position: relative;
  @include marginBottom(90,117,117);

  @include breakpoint(tabletAndDesktop) {
    width: 84.24479166666667vw;
    margin: 0 auto;
  }

  @include breakpoint(desktopOnly) {
    width: 74.47058823529412vw;
    margin-left: calcVw(180,1700);
  }

}

.cote-business {
  @include marginBottom(83,68,133);
  @include breakpoint(tabletAndDesktop) {
    margin-top: 11.2rem;
  }
  @include breakpoint(desktopOnly) {
    margin-top: 16.3rem;
  }
}

.quiz-teaser {
  @include marginBottom(88,180,333); 
}