.work-details {

  &-title {
    margin-bottom: 5.6rem;

    @include breakpoint(desktop) {
      margin-bottom: 7.8rem;
    }
  }

  &-subheadings {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $dark;
    font-weight: 600;
    margin-bottom: 2.3rem;
  }

  &-description {
    padding-left: 1.4rem;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-bottom: 5.6rem;
  }

  &-outro {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-bottom: 9.6rem;

    @include breakpoint(desktop) {
      width: 64rem;
      margin-bottom: 15.9rem;
    }
  }
}
