// -- GLOBAL FONT SETTINGS -- //

$font-size-base: 10;

html {
  @include fontSizeVw($font-size-base, $font-size-base);
  // font-size: 10px;
}

// Fonts \\

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
// @import url('~assets/font/Geomanist-Bold.ttf');

@font-face {
  font-family: 'Geomanist';
  src: url('~assets/font/Geomanist-Bold.eot');
  src: url('~assets/font/Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
       url('~assets/font/Geomanist-Bold.woff2') format('woff2'),
       url('~assets/font/Geomanist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'Poppins', sans-serif;
}

.line-title {
  width: 2.2rem;
  height: 0.4rem;
  background-color: $rouge;
  vertical-align: middle;
  display: inline-block;
  margin-right: 1.2rem;

  @include breakpoint(desktop) {
    margin-right: 2.1rem;
    width: 4.3rem;
  }
}

// Subheadings such as About Diwane, Audience, Jobs...

h2 {
  @include fontSizeVw(22, 32);
  color: $rouge;
  font-weight: 600;
  line-height: 1.3;
}

p {
  @include fontSizeVw(20, 27);
  line-height: 1.5;
  color: $dark;

  @include breakpoint(desktop) {
    line-height: 1.63;
  }
}
